#image-button {
    border: 0;
    background: transparent;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.chosen-card {
    border: 2px solid red !important;
}

.header {
    display: flex;
    margin-left: 1rem;
}

.logo {
    margin-left: auto;
    display: flex;
    margin-right: 2rem;
    margin-bottom: 1rem;
    align-items: center;
}

.footer {
    font-size: small;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
